@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Audiowide&family=Bebas+Neue&family=Forum&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&family=Oswald:wght@200..700&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Audiowide&family=Bebas+Neue&family=Forum&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&family=Oswald:wght@200..700&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Space+Grotesk:wght@300..700&display=swap');

@font-face {
    font-family: 'Demo';
    src: url('../font/WOX-Striped_Triple_Demo.otf') format(OpenType);
    font-style: normal;
    font-weight: bold;
}

:root {
    --cor0: #ffffff;
    --cor1: #000000;
    --cor2: #00000066;
    --cor3: #111010;
    --cor4: #808080;
    --car5: #333333;
    --cor6: #4b0095;
    --cor7: #54287f;
    --cor8: #a228ff;


    --font-Demo: 'Demo';
    --font-Space: 'Space Grotesk';
    --font-Inter: 'Inter';
    --font-padrao: 'arial';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--cor3);
    height: 100vh;
    position: relative;
}

.mover {
    width: 30vw;
    height: 50vh;
    background-image: radial-gradient(circle, var(--cor4), var(--car5), var(--cor3), transparent);
    position: fixed;
    z-index: -1;
    animation: mover 2s ease infinite;
}

@keyframes mover {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    100% {
        transform: translate(100px, 0);
        opacity: 1;
    }
}

.mover2 {
    width: 30vw;
    height: 50vh;
    background-image: radial-gradient(circle, var(--cor4), var(--car5), var(--cor3), transparent);
    position: fixed;
    z-index: -1;
    animation: mover2 2s ease infinite;
    position: fixed;
    top: 50%;
    left: 70%;
}

@keyframes mover2 {
    0% {
        left: 70%;
        opacity: 0;
    }

    100% {
        left: 63%;
        opacity: 1;
    }
}

.cabecalho {
    height: 70px;
    display: flex;
    align-items: center;
    animation: abaixar 1s ease;
    background-color: var(--cor2);
    position: sticky;
    top: 0;
    z-index: 100;
}

@keyframes abaixar {
    0% {
        transform: translate(0, -50px);
    }

    100% {
        transform: translate(0, 0);
    }
}


.cabecalho h1 {
    color: var(--cor0);
    margin-left: 50px;
    font-family: var(--font-Demo);
}

.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: 50px;
}

.navbar a {
    color: var(--cor0);
    padding: 15px;
    text-decoration: none;
    font: normal bold 16px var(--font-padrao);
    transition: transform 0.5s ease;
}

.navbar a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--cor6);
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar a.ativo::after,
.navbar a:hover::after {
  width: 100%;
}

.navbar a:hover {
    
    transform: scale(1.1);
}

.principal {
    display: flex;
    align-items: center;
    width: 90vw;
    height: 90vh;
    margin-left: 100px;
    padding-left: 20px;
    padding-top: 5px;
    border-radius: 20px;
    animation: surgir 2s ease;
}

@keyframes surgir {
    0% {
        transform: translate(-100px);
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

.container {
    align-items: center;
}

.container h2{
    color: var(--cor0);
    color: transparent;
    background-image: linear-gradient(to right, var(--cor6), var(--cor7), var(--cor8));
    -webkit-background-clip: text;
    background-clip: text;
    font-family: var(--font-Space);
    font-size: 50px;
    font-weight: bold;
}

.tags {
    display: flex;
    gap: 20PX;
}

.tags p {
    color: var(--cor0);
    background-color: var(--cor2);
    font-family: var(--font-padrao);
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;

}

.nav-p {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.nav-p a {
    color: var(--cor0);
    font-family: var(--font-padrao);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    transition: transform 0.5s ease;
    border: 2px solid var(--cor0);
    border-radius: 15px;
}

.nav-p a:hover {
    color: var(--cor1);
    background-color: var(--cor0);
    border-radius: 15px;
    border: none;
    transform: scale(1.1);
}

.container-ico {
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.container-ico img {
    color: var(--cor0);
    background-image: linear-gradient(to right, var(--cor6), var(--cor7), var(--cor8));
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--cor0);
    width: 60px;
    height: 50px;
    transition: transform 0.5s ease;
}

.container-ico img:hover {
    transform: scale(1.2);
} 

.linguagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 50%;
    height: 500px;
}

.linguagem img {
    display: block;
    width: 400px;
    height: 300px;
}

#sobre {
    color: var(--cor0);
    font-family: var(--font-Space);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: transparent;
    background-image: linear-gradient(to right, var(--cor6), var(--cor7), var(--cor8));
    -webkit-background-clip: text;
    background-clip: text;
}

.secao {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    display: flex;
}

.secao h2 {
    color: transparent;
    background-image: linear-gradient(to right, var(--cor6), var(--cor7), var(--cor8));
    -webkit-background-clip: text;
    background-clip: text;
    font-family: var(--font-Space);
    text-align: left;
    margin-bottom: 15px;
}

.exibir {
    flex-direction: column;
}

.img-se {
    background-color: var(--cor4);
    border-radius: 50%;
    margin-left: auto;
    width: 300px;
    height: 300px;
}

.secao p {
    color: var(--cor0);
    display: block;
    width: 600px;
    text-align: justify;
    font-family: var(--font-Inter);
    font-weight: bold;
    line-height: 25px;
}

#Projetos {
    color: var(--cor0);
    font-family: var(--font-Space);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: transparent;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, var(--cor6), var(--cor7), var(--cor8));
    -webkit-background-clip: text;
    background-clip: text;
}

.projetos {
    margin-left: 100px;
    width: 85vw;
    height: 50vh;
    border-radius: 20px;
    background-color: var(--cor2);
}

footer {
    color: var(--cor1);
    background-color: var(--cor4);
    font-family: var(--font-padrao);
    font-weight: bold;
    text-align: center;
    padding: 5px;
}